* {
    /* border: 0;
    margin: 0; */
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: fff;
}

.first {
    margin-top: 10%;
    width: 790px;
    height: 790px;
    border: 1px solid #fff;
    background: url(checked1.jpg) no-repeat center/contain;
}

h1 {
    font-size: 2em;
    color: #fff;
    width: 44px;
    margin-top: 267px;
    margin-left: 390px;
    transform: rotate(-32deg);
}

.update {
    width: 170px;
    height: 70px;
}

button {
    font-size: 2em;
    cursor: pointer;
    width: 70px;
    background-color: unset;
    border-radius: 20%;
    transform: rotate(-34deg);
    margin-top: 127px;
    margin-left: 410px;
    box-shadow: -3px 2px 0px 0px gray;
}